/** core/_typography.scss */

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  // font-family: "Roboto";
  font-size: 16px;
  color: $color-text;
  line-height: 1.5;
}

// Anchor element
a {
  color: black;
  text-decoration: none;

  &:hover {
    background-color: rgb(240, 240, 245);
    text-decoration: underline;
  }
}

p {
  margin-top: 0;
}