---
layout: default
projectSequence:
  - "sunwaysa-bookings"
  - "maybank2u"
  - "whatsapp"
---

<header class="container">
  <div class="title">
    <h1 class="title__heading">James Ooi.</h1>&nbsp;
    <span class="title__subheading">
      Digital architect, full-stack developer and UI/UX designer that enjoys
      solving practical problems with innovative, usable and aesthetically
      pleasing solutions.
    </span>
  </div>
</header>

<section id="works" class="section container">
  <!--<span class="section__heading">Selected Works</span>-->

  {% for workId in page.projectSequence %}
    {% for value in site.works %}
      {% if value.identifier == workId %} {% assign work = value %} {% endif %}
    {% endfor %}

    <style>
      /* Mobile */
      @media screen and (max-width: 767px) {
        #project-{{ workId }}.project { background-image: url({{ work.card.mobile }})}
      }

      /* Tablet */
      @media screen and (min-width: 768px) {
        #project-{{ workId }}.project { background-image: url({{ work.card.tablet }})}
      }
      @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        #project-{{ workId }}.project { background-image: url({{ work.card.tablet_retina }})}
      }

      /* Desktop */
      @media screen and (min-width: 992px) {
        #project-{{ workId }}.project { background-image: url({{ work.card.desktop }})}
      }
      @media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        #project-{{ workId }}.project { background-image: url({{ work.card.desktop_retina }})}
      }
    </style>

    <a id="project-{{workId}}" class="project" href="{{ work.url }}">
      <div class="project__title">
        <span class="project__heading">{{ work.title }}</span>
        <span class="project__subheading">{{ work.subtitle }}</span>
        <span class="project__link">View {{ work.type }}</span>
      </div>
    </a>

  {% endfor %}

  <!--<ul class="project-cat">
    <li class="project-cat__item">Web Development</li>
    <li class="project-cat__item">UX Design</li>
  </ul>-->
  
</section>

<section id="oss" class="section container">
  <span class="section__heading">Open Source</span>
  
  <a class="oss" href="https://jamesssooi.github.io/Croppr.js/" target="_blank">
    <div class="oss__content">
      <div class="oss__title">
        <span class="oss__heading">Croppr.js</span>
        <span class="oss__language">Javascript</span>
        <span class="oss__badge"><i class="fa fa-star"></i> 90</span>
        <span class="oss__badge"><i class="fa fa-code-fork"></i> 11</span>
      </div>
      <span class="oss__description">
        A vanilla JavaScript image cropper that's lightweight, 
        awesome, and has absolutely zero dependencies.
      </span>
    </div>
  </a>

  <a class="oss" href="https://www.fonty.io/" target="_blank">
    <div class="oss__content">
      <div class="oss__title">
        <span class="oss__heading">fonty</span>
        <span class="oss__language">Python</span>
        <span class="oss__language">Unreleased</span>
      </div>
      <span class="oss__description">
        A command-line tool to download, manage and convert fonts.
      </span>
    </div>
  </a>
</section>

<section id="oss" class="section container">
  <span class="section__heading">Research</span>
  
  <a class="oss" href="/assets/files/The-mere-presence-of-choices-and-its-effects-on-Aad-and-Ab_Ooi-W.pdf" target="_blank">
    <div class="oss__content">
      <div class="oss__title">
        <span class="oss__heading">The mere presence of choices and its effects on Attitude-towards-the-ad (A<sub>ad</sub>) and Attitude-towards-the-brand (A<sub>b</sub>)</span>
      </div>
      <span class="oss__description">
        Extensive literature has documented how having too many choices can
        negatively affect our emotions. Realising this, is it possible for
        marketers to shape consumer's attitudes by controlling the number of
        choices in advertisements?
      </span>
    </div>
  </a>
</section>
