<footer class="footer section container">

  <span class="footer__email">wengteikooi@gmail.com</span>

  <ul class="nav__links">
    <li class="nav__link-item">
      <a href="/assets/files/James Ooi_Resume_June 2018.pdf" class="nav__link-anchor">Resumé</a>
    </li>
    <li class="nav__link-item">
      <a href="https://instagram.com/jamesssooi" class="nav__link-anchor">Instagram</a>
    </li>
    <li class="nav__link-item">
      <a href="https://github.com/jamesssooi" class="nav__link-anchor">GitHub</a>
    </li>
    <li class="nav__link-item">
      <a href="https://www.linkedin.com/in/james-ooi/" class="nav__link-anchor">LinkedIn</a>
    </li>
  </ul>

</footer>