article {

  font-size: 18px;

  @include m-desktop {
    font-size: 22px;
    padding: 0 60px;
  }
}

article img {
  width: 100%;
  margin-bottom: 1.5em;

  @include m-desktop {
    width: calc(100% + 120px);
    margin-left: calc(-60px);
    margin-right: calc(-60px);
  }
}

article p {
  margin-bottom: 1em;
  line-height: 1.6;
}

article h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 3em;
}

article .description {
  max-width: 600px;
  margin: 0 auto 1em;
}

.u-fl-left {
  float: left;
}