article {

  font-size: 18px;

  @include m-desktop {
    font-size: 22px;
    padding: 0 60px;
  }
}

/** Media */
article img, article video {
  display: block;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  @include m-desktop {
    width: calc(100% + 120px);
    margin-left: calc(-60px);
    margin-right: calc(-60px);
  }
}

article img + em {
  margin-top: -1.5em;
  display: block;
  font-size: 16px;
  text-align: center;
}

article img.image--left {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @include m-desktop {
    width: 320px;
    float: left;
    margin: 0 1em 0 -60px;
  }
}

article img.image--centered {
  margin-left: auto;
  margin-right: auto;
  width: auto;

  @include m-mobile {
    width: 100%;
  }
}


/** Typography */
article p {
  margin-bottom: 1em;
  line-height: 1.6;
}

article h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 3em;
}

article h3 {
  text-align: center;
  margin-top: 2em;
}

article .description {
  max-width: 600px;
  margin: 0 auto 1em;
}

article blockquote {
  color: black;
  font-size: 24px;
  text-align: center;
  background-color: rgb(240, 240, 245);
  padding: 24px;
  margin: 2em 0;

  @include m-desktop {
    font-size: 30px;
    width: calc(100% + 120px);
    margin-left: calc(-60px);
    margin-right: calc(-60px);
  }
}

article blockquote p:last-child {
  margin-bottom: 0;
}

article .list--titled li {
  margin-bottom: 1em;
}

article .list--circled ol {
  counter-reset: item;
  margin: 0;
  padding-left: 0;
}

article .list--circled ol li {
  counter-increment: item;
  list-style: none inside;
  padding-left: 40px;
  position: relative;
  margin-bottom: 0.5em;
}

article .list--circled ol li:before {
  content: counter(item);
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid $color-text;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}