/** components/_footer.scss */

.footer {
  margin-top: 90px;
  display: flex;
}

.footer__email {
  font-weight: bold;
  color: black;
  font-size: 24px;
}

.footer__links {
  list-style: none;
  padding-left: 0;
  margin-left: auto;
}

.footer__link-item {
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  & + & {
    margin-left: 30px;
  }

  &:hover {
    border-bottom: 2px solid black;
  }

  &:hover .footer__link-anchor {
    color: black;
  }
}

.footer__link-anchor {
  color: $color-text;
}