/** components/_oss.scss */

.oss {
  background-color: rgb(240, 240, 245);
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
}

.oss__content {
  @include m-tablet {
    max-width: 60%;
  }
}

.oss__title {
  display: block;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.oss__heading {
  font-weight: bold;
  color: black;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.oss__subheading {
  font-size: 16px;
  font-weight: 300;
}

.oss__language {
  background-color: rgb(210, 210, 215);
  padding: 3px 6px;
  margin-left: 12px;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
}

.oss__badge {
  margin-left: 12px;
  font-size: 12px;

  & + & {
    margin-left: 9px;
  }
}