/** components/_oss.scss */

.oss {
  background-color: rgb(240, 240, 245);
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  color: $color-text;
  position: relative;
  transition: 0.3s ease-in-out all;

  &:hover {
    background-color: rgb(230, 230, 235);
    text-decoration: none;
  }

  &:after {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 24px;
    opacity: 0;
    transition: 0.3s ease-in-out all;
  }

  &:hover:after {
    opacity: 1;
    right: 30px;
  }
}

.oss__content {
  max-width: 85%;

  @include m-tablet {
    max-width: 60%;
  }
}

.oss__title {
  display: block;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.oss__heading {
  font-weight: bold;
  color: black;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.oss__subheading {
  font-size: 16px;
  font-weight: 300;
}

.oss__language {
  background-color: rgb(210, 210, 215);
  padding: 3px 6px;
  margin-left: 12px;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
}

.oss__badge {
  margin-left: 12px;
  font-size: 12px;

  & + & {
    margin-left: 9px;
  }
}