/** components/_project-page.scss */

.project-info {

}

.project-info__desc {
  //padding-right: 60px;
}

.project-info__details {
  // min-width: 240px;
  // margin-left: auto;
}

.project-detail {
  margin-bottom: 24px;
}

.project-detail__heading {
  font-weight: bold;
  display: block;
  color: black;
}

.project-detail__content {

}