/** components/_section.scss */

.section {
  margin-bottom: 60px;
}

.section__heading {
  font-size: 21px;
  font-weight: bold;
  display: block;
  //border-bottom: 2px solid $color-text;
  //padding-bottom: 6px;
  margin-bottom: 1em;
  //letter-spacing: -0.5px;
}