---
layout: default
---

<div class="container">
  <div class="title title--centered">
    <span class="title__type">{{ page.type }}</span>
    <h1 class="title__heading">{{ page.title }}</h1><br />
    <span class="title__subheading">{{ page.subtitle }}</span>
  </div>
</div>

<div class="container">
  <article class="project-article">

    <img class="project-cover" src="{{ page.cover_url }}" alt="Landscape">

    <div class="project-info">
      <div class="project-info__desc">
        <p>{{ page.description }}</p>
      </div>
      <div class="project-info__details">
        <div class="project-detail">
          <span class="project-detail__heading">Areas</span>
          <span class="project-detail__content">
            {% for item in page.responsibilities %}
              {{ item }}&emsp;
            {% endfor %}
          </span>
        </div>
      </div>
    </div>

    {{ page.content }}

  </article>

  <div class="project-related">
    <span class="project-related__heading">Other works</span>

    {% for work in site.works %}
      {% if work.identifier != page.identifier %}
        <style>
          /* Mobile */
          @media screen and (max-width: 767px) {
            #project-{{ work.identifier }}.project { background-image: url({{ work.card.mobile }})}
          }

          /* Tablet */
          @media screen and (min-width: 768px) {
            #project-{{ work.identifier }}.project { background-image: url({{ work.card.tablet }})}
          }
          @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            #project-{{ work.identifier }}.project { background-image: url({{ work.card.tablet_retina }})}
          }

          /* Desktop */
          @media screen and (min-width: 992px) {
            #project-{{ work.identifier }}.project { background-image: url({{ work.card.desktop }})}
          }
          @media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            #project-{{ work.identifier }}.project { background-image: url({{ work.card.desktop_retina }})}
          }
        </style>

        <a id="project-{{work.identifier}}" class="project" href="{{ work.url }}">
          <div class="project__title">
            <span class="project__heading">{{ work.title }}</span>
            <span class="project__subheading">{{ work.subtitle }}</span>
            <span class="project__link">View {{ work.type }}</span>
          </div>
        </a>
      {% endif %}
    {% endfor %}
    
  </div>
</div>